bind-interfaces
interface={{ k3s_iface }}
address=/.dzerv.art/{{ hostvars[inventory_hostname].zerotier_ip }}
address=/modem.dzerv.art/10.9.8.1
address=/ap.dzerv.art/10.9.8.2
address=/hass.dzerv.art/10.9.8.10
