*
!README.md
!/chartfile.yaml
!/devenv.nix
!/devenv.lock
!/devenv.yaml
!/jsonnetfile.json*
!/renovate.json
!/.agents
!/.agents/skills
!/.agents/skills/**
!/.woodpecker
!/.woodpecker/*.yaml
!/nixos
!/nixos/**.nix
!/nixos/flake.lock
!/nixos/rke2
!/nixos/rke2/*.yaml
!/envs
!/envs/*
!/envs/*/spec.json
!/envs/*/main.jsonnet
!/envs/*/*.libsonnet
!/lib
!/lib/**.libsonnet
!/lib/helpers
!/lib/docker-service
