eval $(op signin)
oci session refresh --profile terraform || oci session authenticate --profile-name terraform --region eu-frankfurt-1
export TF_VAR_k3s_token="$(op item get 'Oracle Terraform' --fields label=k3s_token)"
export TF_VAR_tenancy_ocid="$(op item get 'Oracle Terraform' --fields label=tenancy_ocid)"
export TF_VAR_user_ocid="$(op item get 'Oracle Terraform' --fields label=user_ocid)"
export TF_VAR_compartment_ocid="$(op item get 'Oracle Terraform' --fields label=compartment_ocid)"
