# Managed by Ansible
{%- if "vlan_id" in item -%}
	{% set vlan_bridges = [] %}

	{% for bridge in item.bridges %}
		{% set dummy = vlan_bridges.append(bridge + "." + (item.vlan_id | string)) %}
	{% endfor %}
{%- else -%}
	{% set vlan_bridges = item.bridges %}
{%- endif %}

# Bridged interfaces setup
{% for bridge in vlan_bridges -%}
	iface {{ bridge }} inet manual
{% endfor -%}

{%- if "wifi_ssid" in item and "wifi_iface" in item -%}
	{% set wifi_iface_index = (subnets | json_query("[?wifi_iface=='" + item.wifi_iface + "'].wifi_ssid")).index(item.wifi_ssid) %}

	{%- set wifi_mac = hostvars[inventory_hostname]["ansible_" + item.wifi_iface].macaddress %}
	{% set wifi_mac = ((wifi_mac | hwaddr("int")) + wifi_iface_index) | hwaddr("linux") -%}

	{% if wifi_iface_index == 0 %}
		{% set dummy = vlan_bridges.append(item.wifi_iface) %}
	{% else %}
		{% set dummy = vlan_bridges.append(item.wifi_iface + "_" + (wifi_iface_index | string)) %}
	{% endif %}
{%- endif %}

auto {{ item.iface }}
iface {{ item.iface }} inet static
	address {{ item.cidr | ipaddr("address") }}
	netmask {{ item.cidr | ipaddr("netmask") }}
	{% if "gateway" in item %}gateway {{ item.gateway }}{% endif %}
	bridge_ports {{ vlan_bridges | join(" ") }}
	{% if "wifi_ssid" in item %}bridge_hw {{ wifi_mac }}{% endif %}
