# Managed by Ansible

auto lo
iface lo inet loopback

{% if wan_iface is defined %}
# WAN port
auto {{ wan_iface }}
iface iface inet static
	address {{ wan_cidr | ipaddr("address") }}
	netmask {{ wan_cidr | ipaddr("netmask") }}
	gateway {{ wan_gateway }}
	dns-nameservers {{ wan_dns | join(" ") }}
{% endif -%}

source-directory interfaces.d
