# Managed by Ansible
{%- if "vlan_id" in item -%}
	{% set vlan_bridges = [] %}

	{% for bridge in item.bridges %}
		{% set dummy = vlan_bridges.append(bridge + "." + (item.vlan_id | string)) %}
	{% endfor %}
{%- else -%}
	{% set vlan_bridges = item.bridges %}
{%- endif %}

# Bridged interfaces setup
{% for bridge in vlan_bridges -%}
	iface {{ bridge }} inet manual
{% endfor -%}

{%- if "wifi_name" in item -%}
	{% for w in item.wifi_name -%}
		{% set wifi_iface = (wifi | selectattr("name", "equalto", w) | first).iface %}
		{% set wifi_name_index = (subnets | json_query("[?wifi_name] | [?contains(wifi_name, `" + w + "`)].wifi_ssid")).index(item.wifi_ssid) %}

		{%- set wifi_mac = hostvars[inventory_hostname]["ansible_" + wifi_iface].macaddress %}
		{% set wifi_mac = ((wifi_mac | hwaddr("int")) + wifi_name_index) | hwaddr("linux") -%}

		{% if wifi_name_index == 0 %}
			{% set dummy = vlan_bridges.append(wifi_iface) %}
		{% else %}
			{% set dummy = vlan_bridges.append(wifi_iface + "_" + (wifi_name_index | string)) %}
		{% endif %}
	{%- endfor %}
{%- endif %}

auto {{ item.iface }}
iface {{ item.iface }} inet static
	address {{ item.cidr | ipaddr("address") }}
	netmask {{ item.cidr | ipaddr("netmask") }}
	{% if "gateway" in item -%}
	gateway {{ item.gateway }}
	{%- endif %}
	bridge_ports {{ vlan_bridges | join(" ") }}
	{#
	{% if "wifi_ssid" in item -%}
	bridge_hw {{ wifi_mac }}
	{%- endif %}
#}
