#jinja2: lstrip_blocks: True, trim_blocks: True
# Managed by Ansible
{% if inventory_hostname in groups.master %}
cluster-init: true
{% else %}
server: "https://{{ hostvars[groups.master[0]].k3s_ip }}:6443"
{% endif %}

# IP settings
node-ip: {{ hostvars[inventory_hostname].k3s_ip }}
node-external-ip: {{ hostvars[inventory_hostname].address }}
flannel-iface: {{ k3s_iface }}

# DNS settings
resolv-conf: /etc/rancher/k3s/resolv.conf
node-name: {{ inventory_hostname }}

{% if inventory_hostname not in groups.agent -%}
# Cluster IPs
advertise-address: {{ hostvars[inventory_hostname].k3s_ip }}
# Encrypt secrets in etcd
secrets-encryption: true
# Disable some default k3s services
disable:
  - traefik
  - metrics-server
  - local-storage
# Master node certificate SANs
tls-san:
  - 127.0.0.1
  - localhost
  - {{ inventory_hostname }}
  - {{ inventory_hostname_short }}
  - {{ hostvars[inventory_hostname].k3s_ip }}
  - {{ hostvars[inventory_hostname].address }}
{% for ip in (hostvars[inventory_hostname].additional_ips | difference([hostvars[inventory_hostname].k3s_ip])) %}
  - {{ ip }}
{% endfor %}
{%- endif %}

# TODO: etcd backups to oracle
