# Managed by Ansible
[Interface]
ListenPort = 51820
PrivateKey = {{ wireguard_private_key.content | b64decode }}
Address = 10.20.30.{{ host_index }}/24
DNS = 1.1.1.1, 1.0.0.1

PreUp = iptables -I INPUT -p udp --dport 51820 -j ACCEPT
PostDown = iptables -D INPUT -p udp --dport 51820 -j ACCEPT

PostUp = iptables -A FORWARD -i wg0 -j ACCEPT
PostUp = iptables -A INPUT -i wg0 -j ACCEPT
PostUp = iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE

PostDown = iptables -D FORWARD -i wg0 -j ACCEPT
PostDown = iptables -D INPUT -i wg0 -j ACCEPT
PostDown = iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE

{% for peer in groups.all %}
{% if peer != inventory_hostname %}
# {{ peer }}
[Peer]
PublicKey = {{ hostvars[peer].wireguard_public_key.content | b64decode }}
AllowedIPs = 10.20.30.{{ hostvars[peer].host_index }}/32
Endpoint = {{ peer }}:51820
#PersistentKeepalive = 25

{% endif %}
{% endfor %}
